version: 2.1

commands:
  install:
    parameters:
      node-version:
        default: '12'
        type: string
    steps:
      - checkout
      - run:
          name: Set auth token
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Verify cache settings
          command: |
            ls modules > /tmp/folders
            cat /tmp/folders | xargs node scripts/verify-paths.js
      - restore_cache:
          name: 'Restoring cache'
          key: yafu-node-<< parameters.node-version >>-{{ checksum "yarn.lock" }}-{{ checksum "/tmp/folders" }}
      - run:
          name: 'Install packages'
          command: yarn install --frozen-lockfile
      - save_cache:
          name: 'Saving cache'
          key: yafu-node-<< parameters.node-version >>-{{ checksum "yarn.lock" }}-{{ checksum "/tmp/folders" }}
          paths:
            #pathsbegin
            - node_modules
            - modules/const/node_modules
            - modules/eslint-config-yafu/node_modules
            - modules/fantasy-functions/node_modules
            - modules/identity/node_modules
            - modules/lens/node_modules
            - modules/yafu/node_modules
            #pathsend
  run-tests:
    steps:
      - run:
          command: yarn test
          name: Run tests
      - store_test_results:
          path: test-results
jobs:
  test:
    parameters:
      node-version:
        type: string
    docker:
      - image: circleci/node:<< parameters.node-version >>
    steps:
      - install:
          node-version: << parameters.node-version >>
      - run-tests

workflows:
  test-all:
    jobs:
      - test:
          matrix:
            parameters:
              node-version: [ '10', '12', '14' ]
